<%= form_with model: tweet, id: 'new_message', local: true do |f| %>

  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, placeholder: 'type a message' %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>
  
  <%# <div class="weight-bold-text">
    カテゴリー
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  
  <%# ↓↓2枚目の写真とテキスト項目↓↓ %>
  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text1, class: :form__text %>
  </div>
  <%# ↑↑2枚目の写真とテキスト項目↑↑ %>

  <%# ↓↓3枚目の写真とテキスト項目↓↓ %>
  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text2, class: :form__text %>
  </div>
  <%# ↑↑3枚目の写真とテキスト項目↑↑ %>

  <%# ↓↓4枚目の写真とテキスト項目↓↓ %>
  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text3, class: :form__text %>
  </div>
  <%# ↑↑4枚目の写真とテキスト項目↑↑ %>

  <%# ↓↓5枚目の写真とテキスト項目↓↓ %>
  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text4, class: :form__text %>
  </div>
  <%# ↑↑5枚目の写真とテキスト項目↑↑ %>

  <%# ↓↓６枚目の写真とテキスト項目↓↓ %>
  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text5, class: :form__text %>
  </div>
  <%# ↑↑６枚目の写真とテキスト項目↑↑ %>

  <%# ↓↓7枚目の写真とテキスト項目↓↓ %>
  <div class="field">
    <%= f.label :image, "メイン写真" %><br />
    <%= f.file_field :images, name: 'tweet[images][]', direct_upload: true %>
  </div>
  <div class="field">
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text6, class: :form__text %>
  </div>
  <%# ↑↑7枚目の写真とテキスト項目↑↑ %>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div> 
<% end %>

