<%= render "shared/header" %>

<main class="main">
  <div class="inner">
    <div class="tweet__wrapper1">
      <p class="prototype__hedding">
        <%= @tweet.title %>
      </p>
      <%= link_to "by #{@tweet.user.nickname}",user_path(@tweet.user.id), class: :prototype__user %>
      <%# 画像の投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_tweet_path(@tweet.id), class: :tweet__btn %>
          <%= link_to "削除する", tweet_path(@tweet.id), method: :delete, class: :tweet__btn %>
        </div>
      <% end %>
      <%# // 画像の投稿者とログインしているユーザーが同じであれば上記を表示する %>

      <%# ↓↓1枚目の写真とテキスト項目↓↓ %>
      <div class="prototype__image">
        <% if @tweet.images.count > 0 %>
          <%= image_tag @tweet.images.first %>
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= @tweet.text %>
          </p>
        </div>
      </div>
      <%# ↑↑1枚目の写真とテキスト項目↑↑ %>

      <%# ↓↓2枚目の写真とテキスト項目↓↓ %>
      <div class="prototype__image">
        <% if @tweet.images.count > 1 %>
          <%= image_tag @tweet.images.second %>
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= @tweet.text1 %>
          </p>
        </div>
      </div>
      <%# ↑↑2枚目の写真とテキスト項目↑↑ %>

      <%# ↓↓3枚目の写真とテキスト項目↓↓ %>
      <div class="prototype__image">
        <% if @tweet.images.count > 2 %>
          <%= image_tag @tweet.images.third %>
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= @tweet.text2 %>
          </p>
        </div>
      </div>
      <%# ↑↑3枚目の写真とテキスト項目↑↑ %>

      <%# ↓↓4枚目の写真とテキスト項目↓↓ %>
      <div class="prototype__image">
        <% if @tweet.images.count > 3 %>
          <%= image_tag @tweet.images.fourth %>
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= @tweet.text3 %>
          </p>
        </div>
      </div>
      <%# ↑↑4枚目の写真とテキスト項目↑↑ %>

      <%# ↓↓5枚目の写真とテキスト項目↓↓ %>
      <div class="prototype__image">
        <% if @tweet.images.count > 4 %>
          <%= image_tag @tweet.images.fifth %>
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= @tweet.text4 %>
          </p>
        </div>
      </div>
      <%# ↑↑5枚目の写真とテキスト項目↑↑ %>
      

      

      <%# ↓↓コメント一覧↓↓ %>
      <div class="prototype__comments">
        <%# 投稿に紐づくコメントを一覧する処理の記述 %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to comment.user.nickname, user_path(comment.user.id), class: :comment_user %>
            </li>
          <% end %>
        </ul>
        <%# // 投稿に紐づくコメントを一覧する処理の記述 %>

        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@tweet, @comment], local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_area :text, placeholder: '素敵なコメントを書く', class: :form__text%>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
      </div>
      <%# ↑↑コメント一覧↑↑ %>
    </div>
  </div>
</main>
