<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
        </tbody>
      </table>

      <% if @user.id == current_user.id %>
        <% @rooms.each do |room| %>
          <%= link_to room_path(room.id) do %>
              <i class="far fa-envelope"></i>
            <% end %>
        <% end %>
      <% else %>
        <% if @isRoom == true %>
          <p><a href= "/rooms/<%= @roomId %>" >チャットへ</a></p>
        <% else %>
          <%= form_with model: @room, local: true do |f| %>
            <%= f.text_field :name %>
            <%= f.fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit  "チャットを始める" do %>
                <i class='far fa-envelope'></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿一覧"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿した一覧を表示する %>
        <%= render partial: 'tweets/tweet', collection: @tweets %>
      </div>
    </div>
  </div>
</div>

<%# <% unless @user.id == current_user.id %>
  <%# <% if @isRoom == true %>
    <%# <p class="user-show-room"><a href="/rooms/<%= @roomId %>
  <%# <% else %> 
    <%# <%= form_for @room do |f| %> 
      <%# <%= fields_for @entry do |e| %> 
        <%# <%= e.hidden_field :user_id, value: @user.id %> 
      <%# <% end %> 
      <%# <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%> 
    <%# <% end %> 
  <%# <% end %> 
<%# <% end %> 