<ul class='category-list'>
  <li><%= link_to 'カテゴリー', "#", class: "border-list" %></li>
  <li><%= link_to 'チャット', users_path, class: "border-list" %></li>
  <li><%= link_to 'ストーリー', "#", class: "border-list" %></li>
  <li><%= link_to 'イベント', "#", class: "border-list" %></li>
  <li><%= link_to '人気作品', "#", class: "border-list" %></li>
  <li><%= link_to 'アニメ別', "#", class: "border-list" %></li>
  <li><%= link_to 'テクニック別', "#", class: "border-list" %></li>
  <li><%= link_to '人気タグ', "#", class: "border-list" %></li>
</ul>