<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GunplaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>
  
<%# CSS・・・assets/stylesheets/shared/header.css %>

  <body>
    <header class='top-page-header'>
      <div class='search-bar-contents'>
        <div class="list-left">
          <%= link_to image_tag("logo3.png", class:"logo-icon"), "/" %>
          <form method="get" action="#" class="search_container">
            <input type="text" size="25" placeholder="作品を探す">
            <input type="submit" value="&#xf002;">
          </form>
        </div>
        <div class="list-right">
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "新規投稿", new_tweet_path, class: :nav__btn %>
              <%# <%= link_to current_user.nickname, "#", class: :nav__btn %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :nav__logout %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to 'ログイン', new_user_session_path, class: :nav__btn %>
              <%= link_to '新規登録', new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class='footer-contents'>
        <div class='furima-details'>
          <ul>
            <li><a href="#" class='list-footer'>GCCとは</a></li>
            <li><a href="#" class='list-footer'>ヘルプセンター</a></li>
            <li><a href="#" class='list-footer'>改善目安箱</a></li>
          </ul>
        </div>
        <div class='furima-details'>
          <ul>
            <li><a href="#" class='list-footer'>開催中のイベント</a></li>
            <li><a href="#" class='list-footer'>グレード別作品一覧</a></li>
            <li><a href="#" class='list-footer'>お知らせ</a></li>
          </ul>
        </div>
        <div class='furima-details'>
          <ul>
            <li><a href="#" class='list-footer'><i class="fab fa-twitter"></i>Twitter</a></li>
            <li><a href="#" class='list-footer'><i class="fab fa-youtube"></i>YouTube</a></li>
            <li><a href="#" class='list-footer'><i class="fab fa-instagram"></i>Instagram</a></li>
          </ul>
        </div>
        <div class='furima-details'>
          <ul>
            <li><a href="#" class='list-footer'>ご利用規約</a></li>
            <li><a href="#" class='list-footer'>プライバシーポリシー</a></li>
            <li><a href="#" class='list-footer'>よい投稿をするために</a></li>
          </ul>
        </div>
      </div>
      <%= link_to image_tag("logo3.png", class:"logo-icon3"), "/" %>
      <p class="copyright">Copyright © GCC All rights reserved.</p>
    </footer>
  </body>
</html>
